
* {
    margin: 0;
    padding: 0;
}

body, html {
    width: 100%;
    height: 100%;
    font-family: Corbel, Tahoma, sans-serif;
    overflow-y: hidden;
}

#fundo img {
    width: 100%;
    max-height: 100%;
    position: fixed;
}

.div{
    width: 100%;
    height: 300px;
    margin-top: 13em;
    position: absolute;
    background-color: #4C4C4C; 
    opacity: 0.5;
}

.painel 
{
    list-style: none;
    margin-left: 32em;
    position: absolute;
    width: 300px;
    height: 300px;
    color: #59C16C;
    font-family: Corbel, sans-serif; 
    text-align: center;
    margin-top: 250px;
    border: 0px;
}

.painel fieldset
{
    border: 0px;
}

input[type=submit]{
    width: 153px;
    height: 50px;
    border: 0px;
    font-size: 20px;
    background-color: #59C16C;
    color: #4C4C4C;
}

input[type=submit]:hover{
    transition-duration:0.5s;
    color: #59C16C;
    background-color:transparent;
}



