
* {
    margin: 0;
    padding: 0;
}

body, html {
    width: 100%;
    height: 100%;
    background-color: #E0FFFF;
}


@font-face {
    font-family: "Abc";
    src: url('fonts/psycha3.ttf');
}



.Header
{
	
	background-color: #9AE7FF;
	width: 100%;
	height: 200px;

}

.Header tr
{
	
}

.Header a
{
	font-size: 50px;
	font-family: Arial;
	color: #434444;
}

.ImagemTOPO
{
	width: 250px;
	height: 200px;
}

.BarraMenu
{
	float:left;
	position: relative;
	width: 100%;	
	background-color: #00B2EE;
	padding: 10px;
}

.BarraMenu a
{
	width: 100%;
	font-size: 20px;
	padding: 11.5px;
	font-family: Verdana;
	text-decoration: none;
	color: #EEEEEE;
}

.BarraMenu a:hover
{
	/*transition-duration: 0.1s;*/
	background-color: #00C0FF;
	color: #F1F1F1;
}

.Secoes
{
	font-family: "Abc";
}


.div1 
{	
	height: 350px;
	margin-top: 100px;
	margin-right: 150px;
	background-color: #818BA4;
	opacity: 0.5;

	-webkit-box-shadow: 6px 6px 5px 0px rgba(5, 14, 18, 0.75);
	-moz-box-shadow:    6px 6px 5px 0px rgba(5, 14, 18, 0.75);
	box-shadow:         6px 6px 5px 0px rgba(5, 14, 18, 0.75);

}

.div2
{	
	height: 350px;
	margin-top: 70px;
	margin-left: 150px;
	background-color: #818BA4;
	opacity: 0.5;
	
	-webkit-box-shadow: -8px 6px 5px 0px rgba(5, 14, 18, 0.75);
	-moz-box-shadow:    -8px 6px 5px 0px rgba(5, 14, 18, 0.75);
	box-shadow:         -8px 6px 5px 0px rgba(5, 14, 18, 0.75);

}

.div3 
{	
	height: 350px;
	margin-top: 70px;
	margin-right: 150px;
	background-color: #818BA4;
	opacity: 0.5;
	
	-webkit-box-shadow: 6px 6px 5px 0px rgba(5, 14, 18, 0.75);
	-moz-box-shadow:    6px 6px 5px 0px rgba(5, 14, 18, 0.75);
	box-shadow:         6px 6px 5px 0px rgba(5, 14, 18, 0.75);

}